  <footer class="page-footer red darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Want to work with Connor?</h5>
                <p class="grey-text text-lighten-4">Contact me to start planning your next project.</p>
                <p><a class="hoverable btn white waves-effect waves-red black-text" href="/lets-talk" title="Let's Talk">Let's Talk</a></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Menu</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="/#about">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="/#skills">Skills</a></li>
                  <li><a class="grey-text text-lighten-3" href="/#projects">Projects</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Connor Anderson Arts © 2016
            </div>
          </div>
        </footer>
  
  <!--  Scripts-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
  <script type="text/javascript" src="/javascripts/init.js"></script>
  
  </body>
</html>