<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--Import materialize.css and style.css-->
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
  </head>
  <body>
    <nav class="purple darken-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/about-me" title="About Me">About Me</a></li>
            <li><a href="/my-work" title="My Work">My Work</a></li>
            <li><a href="/my-skills" title="My Skills">My Skills</a></li>    
            <li><a class="btn white waves-effect waves-purple black-text" href="/lets-talk" title="Let's Talk">Let's Talk</a></li> 
        </ul>

        <ul id="nav-mobile" class="side-nav">
           <li><a href="/" title="Home">Home</a></li>
            <li><a href="/about-me" title="About Me">About Me</a></li>
            <li><a href="/my-work" title="My Work">My Work</a></li>
            <li><a href="/my-skills" title="My Skills">My Skills</a></li>    
            <li><a href="/lets-talk" title="Let's Talk">Let's Talk</a></li> 
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons z-depth-1">menu</i></a>
        </div>
    </nav>