<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/about-me" title="About Me">About Me</a></li>
            <li><a href="/my-work" title="My Work">My Work</a></li>
            <li><a href="/my-skills" title="My Skills">My Skills</a></li>    
            <li><a href="/lets-talk" title="Let's Talk">Let's Talk</a></li>                    
        </ul>
    </nav>