<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--Import materialize.css and style.css-->
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
  </head>
  <body>
    <nav class="indigo darken-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="/images/connors-signature.png" alt="Connor"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#skills">Skills</a></li>
            <li><a href="/#projects">Projects</a></li>    
            <li><a class="btn white waves-effect waves-blue black-text" href="/lets-talk" title="Let's Talk">Let's Talk</a></li> 
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#skills">Skills</a></li>
            <li><a href="/#projects">Projects</a></li>   
            <li><a class="btn white waves-effect waves-blue black-text" href="/lets-talk" title="Let's Talk">Let's Talk</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>